


<app-main-nav>
    <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;" href=""> Manage Dashboard &nbsp;&nbsp; </a> </mat-toolbar>

    <mat-card-content>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <h4>Select Any one</h4>

            <mat-form-field>
                <!--   <mat-label>Select Any one</mat-label>-->
                <select matInput formControlName="type" required matNativeControl>
                    <option value="joqu">Joqu</option>
                    <option value="audiodeadline">Audiodeadline</option>
                </select>
                <mat-error  *ngIf="!myForm.controls['type'].valid && myForm.controls['type'].touched">Type field can not be blank</mat-error>
            </mat-form-field>

            <h4>Content</h4>
           <!-- <mat-form-field>-->
                <!--   <mat-label>Content</mat-label>-->
              <!--  <textarea matInput placeholder="Textarea" formControlName="content"></textarea>-->
                <ck-editor  skin="moono-lisa" language="en" [fullPage]="true"  [(ngModel)]="ckeditorContent" [ngModelOptions]="{standalone: true}"></ck-editor>
               <!-- <span  *ngIf="!myForm.controls['content'].valid && myForm.controls['content'].touched">Content field can not be blank</span>-->
            <span *ngIf ="errckeditor">Content field can not be blank</span>
         <!--   </mat-form-field>-->

            <mat-card-content >
                <button mat-button>Submit</button>
            </mat-card-content>

        </form>

        <mat-form-field>
            <mat-label>Versions</mat-label>
            <select matInput matNativeControl (change)="showdata()" [(ngModel)]="modelid">
                <!-- <option value="joqu">Joqu</option>-->
                <option value={{item._id}} *ngFor="let item of model_influencer_list; let i = index">Version {{i}} - {{item._id}}</option>
            </select>
        </mat-form-field>

    </mat-card-content>

</app-main-nav>
