<!--
<app-main-nav>

        <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;"> User Table &nbsp;/&nbsp; </a> Pending model application </mat-toolbar>

        <lib-listing *ngIf="pendingmodelapplicationarray1!=null && notpendingapplication_view.length>0"  [datasource]="pendingmodelapplicationarray1" [skip]="pendingmodelapplicationarray_skip1" [modify_header_array]="pendingmodelapplicationarray_modify_header1" ></lib-listing>


        <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;" href=""> User Table &nbsp;/&nbsp; </a> User List</mat-toolbar>


        <lib-listing *ngIf="pendingmodelapplicationarray!=null && pendingmodelapplicationarray.length>0"  [datasource]="pendingmodelapplicationarray" [skip]="pendingmodelapplicationarray_skip" [modify_header_array]="pendingmodelapplicationarray_modify_header" ></lib-listing>


        &lt;!&ndash;<lib-listing *ngIf="brandarray!=null && brandarray.length>0"  [datasource]="brandarray" [skip]="pendingmodelapplicationarray_skip1" [modify_header_array]="pendingmodelapplicationarray_modify_header1" ></lib-listing>

&ndash;&gt;



</app-main-nav>-->



<app-main-nav>

        <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;"> User Table &nbsp;/&nbsp; </a> Pending model application </mat-toolbar>
        <div class="pendinglist">

        <lib-listing    *ngIf="pendingapplication_view!=null && pendingapplication_view.length>0"  [datasource]="pendingapplication_view" [skip]="pendingapplication_view_skip" [modify_header_array]="pendingapplication_view_modify_header1" [statusarr]="statusarray" [apiurl]="apiservice.domain" [deleteendpoint]="delurl" [updateendpoint]="updateurl" [jwttoken]="apiservice.jwttoken" [sourcedata]="tablename" [detail_datatype]="pendingapplication_view_detail_datatype" [detail_skip_array]="pendingapplication_view_detail_skip"></lib-listing>


        <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;" href=""> User Table &nbsp;/&nbsp; </a> User List</mat-toolbar>

        <lib-listing *ngIf="model_pending_and_notpending_application_view!=null && model_pending_and_notpending_application_view.length>0"  [datasource]="model_pending_and_notpending_application_view" [skip]="model_pending_and_notpending_application_view_skip" [modify_header_array]="model_pending_and_notpending_application_view_modify_header" ></lib-listing>

        </div>

</app-main-nav>
