
<lib-listing *ngIf="pendingmodelapplicationarray!=null && pendingmodelapplicationarray.length>0"  [datasource]="pendingmodelapplicationarray"></lib-listing>

<lib-listing *ngIf="brandarray!=null && brandarray.length>0"  [datasource]="brandarray"></lib-listing>

<lib-listing *ngIf="notpendingapplication_view!=null && notpendingapplication_view.length>0"  [datasource]="notpendingapplication_view"></lib-listing>

<lib-listing *ngIf="adminlist!=null && adminlist.length>0"  [datasource]="adminlist"></lib-listing>