
.inventory_banner .inventory_title{ font-size: 48px; color: #fff; font-family: "HelveticaBold"; text-transform: uppercase;  }
.inventory_banner .inventory_para{ font-size: 24px; color: #89fbff; font-family: "HelveticaBold"; margin: 0;  }

