<app-main-nav>
  <!--  <mat-grid-list cols="2" rowHeight="1:1" class="grid_template" [gutterSize]="15">
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>


                    <h2> {{model_influencer_contents_viewlistin_decending_jocu.type}} </h2>
                    <div [innerHTML]="_sanitizer.bypassSecurityTrustHtml(model_influencer_contents_viewlistin_decending_jocu.content)"></div>
                    &lt;!&ndash; <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>&ndash;&gt;

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-content>

                    <h2>{{model_influencer_contents_viewlistin_decending_audio.type}}</h2>
                    <div [innerHTML]="_sanitizer.bypassSecurityTrustHtml(model_influencer_contents_viewlistin_decending_audio.content)"></div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>-->
<mat-grid-list cols="1" rowHeight="500px" class="grid_template" [gutterSize]="15">
 <!--  <mat-grid-tile>
       <div [innerHTML]="_sanitizer.bypassSecurityTrustHtml(model_influencer_contents_viewlistin_decending_jocu.content)"></div>
   </mat-grid-tile>-->
    <div>{{model_influencer_contents_viewlistin_decending_audio.content}}></div>
</mat-grid-list>


    <mat-grid-list cols="1" rowHeight="500px" class="grid_template" [gutterSize]="15">
   <mat-grid-tile>
     <!--  <div [innerHTML]="_sanitizer.bypassSecurityTrustHtml(model_influencer_contents_viewlistin_decending_audio.content)"></div>
-->


       <div style="background-position:center center; background:url(http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/adBanner.jpg) no-repeat!important; padding:15px; padding-bottom:0; margin: 15px; background-size:cover!important; ">
           <div style="display:flex!important">
               <div style="display:flex; flex-direction:column; margin-top:auto!important; width:63%"><div style="width: 270px;"><img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/adlogo.png" style="width:100%" /></div>
                   <p>WE ARE AUDIODEADLINE <span style="font-size:16px"> We are created by artists, for artists</span></p>

                   <p>Our motto is All Rise Together (ART) &ndash; and we take pride in the fact that our event is designed to helps artists, fans and other music enthusiasts move unilaterally in one single direction. Comprised of music lovers and artists, our mission is to showcase the magical moments of musical creativity - the good, the bad, and the inspiring. Fans will finally get to be witness the artist&rsquo;s experience as they go through the emotional mastery of song production! Regardless of who you are, or what you&rsquo;re doing, we would love for you to be part of our music industry revolution!</p>
               </div>

               <div style="align-self:flex-end; display:flex"><img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/bnnrimg1.png" style="height:340px" /></div>

               <div style="display:flex; margin-top:auto!important; width:auto"><img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/icon1.png" />Learn More</div>
           </div>
       </div>


   </mat-grid-tile>
</mat-grid-list>

</app-main-nav>