<mat-card class="mat-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Welcome back</mat-card-subtitle>



<mat-card-subtitle [formGroup]="myForm" (autocomplete)="on">

  <mat-form-field>
    <input matInput placeholder="Username" [formControl]="myForm.controls['email']" >
    <span  *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">Username field can not be blank</span>
  </mat-form-field>
<br>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" [formControl]="myForm.controls['password']" >
    <span  *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">Username field can not be blank</span>
  </mat-form-field>
  <br>
  <button mat-button [disabled]="!myForm.valid" (click)="onSubmit()" color="primary">Login</button>


</mat-card-subtitle>
</mat-card>
