<app-main-nav>
  <mat-card class="example-card banner_content" style=" background: url(http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/adBanner.jpg) no-repeat!important;
    background-position: center center;
    margin: 20px!important;
    background-size: cover!important;
    padding-bottom: 0!important;">

    <mat-card-content style=" display: flex!important;">
      <div style=" width: 63%; display: flex; margin-top: auto!important; flex-direction: column;">
        <span class="logo_wrapper">
          <img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/adlogo.png">
        </span>

        <p  style="font-family: 'OpenSansBold';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;">
          WE ARE AUDIODEADLINE <span style="font-size: 16px; margin-left: 2%;"> We are created by artists, for artists</span>
        </p>
    <p   style=" font-family: 'OpenSans';
    font-size: 16px;
    line-height: 22px;
    color: #07152b;">
  Our motto is All Rise Together (ART) – and we take pride in the fact that our event is designed to helps artists, fans and other music enthusiasts move unilaterally in one single direction. Comprised of music lovers and artists, our mission is to showcase the magical moments of musical creativity - the good, the bad, and the inspiring. Fans will finally get to be witness the artist’s experience as they go through the emotional mastery of song production! Regardless of who you are, or what you’re doing, we would love for
  you to be part of our music industry revolution!</p>

      </div>
        <div  style="  display: flex;
    align-self: flex-end;">
          <img style="height: 340px;" src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/bnnrimg1.png">
        </div>
      <div style=" display: flex;
    margin-top: auto!important;
    width:auto;">

        <span  style="display: flex; justify-content: center;  margin-top: auto;
    padding-bottom: 30px;">
          <img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/icon1.png">
          <button style="border-radius: 35px;
    width: 180px;
    margin-left: 5px;
    font-family: 'OpenSansBold';
    font-size: 18px!important;
    color: #121515;" mat-flat-button>Learn More</button>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!---->

  <mat-card class="banner_content2">
    <mat-card-content>
        <span class="b2Logo">
          <img src="../../assets/images/joqulogo.png">
        </span>
        <span class="b2content">
          <h2> A powerful fan engagement platporm </h2>
          <p>
            Joqu is now leveraging social influencer network to grow to bring in the fans!
Social influence marketing (also known as influencer marketing)= A relatively new form of marketing that utilizes the social influence of certain individuals to impact consumer behavior. Social influencers are the key to a successful marketing campaign and increasing brand exposure as well as sales. Influencers Value Authenticity Just as Much as Brands Do.
          </p>

        </span>
        <span class="b2button"></span>
    </mat-card-content>
  </mat-card>




    <div style="background: #000!important; display: flex; ">
        <span>
          <img src="http://development.shatterblokbackend.com.s3-website.us-east-2.amazonaws.com/assets/images/adlogo.png">
        </span>

      <div style="width: 100%;">
        <p style="color: #fff;">
          Joqu is now leveraging social influencer network to grow to bring in the fans!
          Social influence marketing (also known as influencer marketing)= A relatively new form of marketing that utilizes the social influence of certain individuals to impact consumer behavior. Social influencers are the key to a successful marketing campaign and increasing brand exposure as well as sales. Influencers Value Authenticity Just as Much as Brands Do.
        </p>
      </div>
      <div style="width: 300px; display: flex;
    align-items: center;">
       <span style="display: flex;">
         <img src="../../assets/images/icon1.png">
         <button mat-flat-button>Learn More</button>
       </span>
      </div>
    </div>





<mat-card class="ad_profileblockbody">
    <mat-card-subtitle class="ad_profileblockwrapper">
    <mat-card-content class="ad_profileblock_left">

        <mat-card-content class="ad_profileblock_left_big"> <img mat-card-image src="../../assets/images/admin_blocknewimg.jpg"></mat-card-content>
        <mat-card-content class="ad_profileblock_left_small">
            <ul>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>

            </ul>

        </mat-card-content>



    </mat-card-content>
    <mat-card-content class="ad_profileblock_right">

       <h2>Sandra Sago</h2>

        <mat-card-content class="ad_profileblock_modeldetail"> <label>NAME:</label><span>SANDRA SAGO</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>LOCATION:</label><span>LOS ANGELES</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>HEIGHT:</label><span>5.5</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>WEIGHT:</label><span>160</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>BUST:</label><span>36D</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>WAIST:</label><span>28</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>HIPS:</label><span>45</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <span>(Arabic)</span> </mat-card-content>

        <h3>  <a href="https://www.instagram.com/thearabianprincess/" target="_blank"><img src="../../assets/images/insta-black-white_icon.png"><span>@thearabianprincess</span></a></h3>

        <button mat-button>Modify</button>



    </mat-card-content>




</mat-card-subtitle>

</mat-card>










</app-main-nav>