@media only screen and (max-width: 500px) {
    .s_getmyoffer_login_wrapper {
        width:70% !important; padding: 26px 5%!important;  margin-bottom: 40px!important;
    }
    .s_getmyoffer .s_shatter_logo {
        margin-top: 50px!important;
    }
}