@media only screen and (max-width: 1600px) {
    .model_actions .mat-button{ font-size: 14px!important;}
}
@media only screen and (max-width: 1400px) {
    .content{ word-break: break-all}
}

@media only screen and (max-width: 1199px) {
    .order-bg .view_order {
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .billing_details {
        width: 100%!important;
        justify-content: center;
        flex-direction: column;
    }
    .billing_details .mat-card-content {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .s_getmyoffer_login_wrapper {
        width:70% !important; padding: 26px 5%!important;  margin-bottom: 40px!important;
    }
    .s_getmyoffer .s_shatter_logo {
        margin-top: 50px!important;
    }

}
@media only screen and (max-width: 480px) {
    .order_view1{
        flex-direction: column!important;
        padding: 0!important;
    }
    .order_view1 .mat-card-content {
        width: auto!important;
        background: #cccccc;
        margin: 1px 0;
        padding: 5px 15px;
    }
    .order_view1 .mat-card-content .mat-card-subtitle{ margin-top: 0;}
}
@media only screen and (max-width: 360px) {
    .order-bg .view_order table thead
    th.mat-header-cell {
        font-size: 14px!important;
        padding-left: 5px;
        text-align: center;
    }
    .billing_details .mat-list-item span { width: 40%; }
    .billing_details .mat-list-item-content { font-size: 16px!important; }
}