body{ margin: 0; padding: 0; }

.innerloder{ width:120px; margin:0 auto;}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NoteraPersonalUseOnly';
url('../fonts/Noteworthy-Bold.woff.woff2') format('woff2'),
url('../fonts/Noteworthy-Bold.woff.woff') format('woff'),
font-family: 'Noteworthy';
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Notera Personal Use Only';
    src: url('../fonts/NoteraPersonalUseOnly.woff2') format('woff2'),
    url('../fonts/NoteraPersonalUseOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ralewaybold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
    url('../fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
    url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*---Loader css ---*/

.loader{border:16px solid #080009;border-top:16px solid #410147;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;margin:0 auto;}
@keyframes spin{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}




.s_getmyoffer {
    background:none!important; border-radius: 0px!important;  margin: 0!important;
}

.s_getmyoffer .s_shatter_logo {
    width: 500px;
    margin: 30px auto; max-width: 90%; display: block;
}

.s_getmyoffer_login_wrapper {
    width: 420px!important;
    padding: 26px 50px!important;
    border-radius: 4px; margin-top: 50px; margin-left: auto; margin-right: auto;
    background: #13141b;
    border: 10px solid rgba(68, 68, 68, 0.2);
    box-shadow: 2px 4px 37px rgb(65, 4, 72);
}


.s_getmyoffer_login_wrapper h1 { margin: 0; padding: 0;
    width: 100%;
    font-family: 'RobotoBold';
    text-align: center;
    background: #a4a4a4;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to top left, #13141b 0%, #1d1e24 30%, #000000 100%);
    border-bottom: 4px solid transparent;
    border-image-slice: 1;
    padding-bottom: 20px;
    font-size: 55px;
}

.s_getmyoffer_login_wrapper h2 { margin: 0; padding: 0;
    width: 100%;
    font-family: 'RobotoBold';
    text-align: center;
    background: #a4a4a4;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to top left, #13141b 0%, #1d1e24 30%, #000000 100%);
    border-bottom: 4px solid transparent;
    border-image-slice: 1;
    padding-bottom: 20px;
    font-size: 40px;
}


.s_getmyoffer_login_wrapper p {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: #fff;
    font-family: 'RobotoBold';
    text-transform: capitalize;
}

.s_getmyoffer_login_wrapper .form-group{ display: block; width: 100%; margin-bottom: 15px; }

.s_getmyoffer_login_wrapper .form-group label{color: #b1aeae;   font-family: 'RobotoMedium'; font-size: 16px; }
.s_getmyoffer_login_wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {

    border-bottom: solid 1px #fff;
}

.s_getmyoffer_login_wrapper  .error{ display: block; text-align: center;}

.s_getmyoffer_login_wrapper  .ng-star-inserted{ color: #ff0000;}
.s_getmyoffer_login_wrapper .form-group input.mat-input-element {
    margin-top: 0.9375em; color: #fff!important;
}

.s_getmyoffer_login_wrapper .form-group-forgetPass{ display: block; width: 100%; margin: 0px; margin-top: 15px; text-align: right;}
.s_getmyoffer_login_wrapper .form-group-forgetPass .mat-button{ background: none!important; margin: 0!important; padding: 4px!important; line-height: inherit!important; width: auto!important; height: auto!important; color: #b1aeae!important;
    font-size: 15px!important;  text-transform: capitalize!important;  font-family: 'RobotoMedium'!important;}

.s_getmyoffer_login_wrapper .s_getmyoffer_login_button {
    background: rgba(247,231,0,1);
    background: -moz-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,231,0,1)), color-stop(100%, rgba(219,205,15,1)));
    background: -webkit-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -o-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: linear-gradient(to bottom, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e700', endColorstr='#dbcd0f', GradientType=0 );
    color: #000000!important;
    border: 0!important;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    border-radius: 5px;
    font-size: 24px!important;
    padding: 10px; display: block!important; width: 100%!important;     margin-top: 40px!important;
}



.mat-form-field-invalid::-webkit-input-placeholder {
    color: orange !important;
}


/*left pannel*/


/*.mat-drawer{ background: #13141b!important; width: 240px;   }*/
.left_nav .mat-list-item-content{ color: #fff; cursor: pointer; }
.left_nav a:hover{ background: #000; }


.mat-form-field-invalid {
    color: white !important;

}

/*.mat-drawer-container{height: 100vh;}*/

.s_shatter_logo_wrapper{
    width: 100%;
    display: block;
}
.s_shatter_logo_wrapper img{
    max-width: 100%;
    height: auto;
}
.sidenav[_ngcontent-c3]{
    background: #1d1e24;
}
.sidenav[_ngcontent-c2] .mat-toolbar[_ngcontent-c2] {
    background: #fff!important;
}
.left_nav_menu .mat-list-item-content{
    background: #000!important;
    margin: 0px!important;
    padding: 10px!important;
    text-align: center;
    font-size: 18px!important;
    color: #fff!important;
    border: none!important;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    color: #fff;
}
.mat-divider{border-top-color: #676767!important;}

.mat-table { width: 100%;
    border: 1px solid #e4cde8!important;
    border-bottom: none;}
.filter_input{ width:100%!important;}
.btn_wrapper  .mat-figure{ justify-content: flex-end!important;}

.mat-header-cell {
    font-size: 14px!important;
    color: #272727!important;
}
.mat-row:nth-of-type(even){
    background: #f2f1f3;
}
tr.mat-header-row {
    height: 56px;
    background: gainsboro;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{ width: auto; padding-right: 10px!important;}
.action_button_wrap{ display: flex; justify-content: space-around;}
.add_button{ float: right; margin-right: 17px!important; text-transform: uppercase; width: 150px;     background: #7028a5!important;
    color: rgb(255, 255, 255)!important;
}

table th .mat-checkbox-inner-container{ margin-right: 10px !important;}

/*.mat-form-field{display: block!important;}*/

.adminform{ width: 45vw; margin: 40px auto; }
.adminform .mat-form-field,
.adminmodalform .mat-form-field{display: block!important;}
.btn_wrapper .mat-figure .mat-raised-button{ margin-right: 17px!important; }
.mat-dialog-container{ padding: 0!important;}
.gridview_list{ height: 100%; width: 99%;}
.gridview_list .mat-grid-tile .mat-figure{ flex-direction: column!important; align-items: flex-start;
    padding: 10px; overflow: auto;
    height:100%;}
.gridview_list .mat-grid-tile { background: #ebe9ec; }
.gridview_list .mat-grid-tile .mat-figure h5{margin: 10px 0;}

.adminmodalform{ width: 35vw; margin: 0 auto; }

/*HEADER*/
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
    padding: 0!important;
}
.mat-toolbar .mat-toolbar-row .logo_wrapper{ width: 205px; }
.mat-toolbar .mat-toolbar-row .logo_wrapper img{ width: 100%; height: auto; }
.main-color{
    background-color: #000!important; color: #fff!important;
}
.topbar{
    background: #000!important;
}
.sidenav{
    background: #000!important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    padding: 0 10px!important;
}
.mat-toolbar .mat-toolbar-row .mat-button{ color:#fff; }
.profile_wrap{     width: 40px;
    height: 40px;
    background: #fff;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f7f7f7;
}
.profile_wrap img{width: 100%;
    object-fit: cover;
    object-position: center center;
    min-height: 100%;
    max-height: 100%;
}

.custom_modal {  width: auto; overflow: hidden!important; padding: 50px; }
.modal_wrapper{
    background: rgba(166,213,202,1);
    background: -moz-linear-gradient(-45deg, rgba(166,213,202,1) 0%, rgba(223,236,240,1) 35%, rgba(166,213,202,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(166,213,202,1)), color-stop(35%, rgba(223,236,240,1)), color-stop(100%, rgba(166,213,202,1)));
    background: -webkit-linear-gradient(-45deg, rgba(166,213,202,1) 0%, rgba(223,236,240,1) 35%, rgba(166,213,202,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(166,213,202,1) 0%, rgba(223,236,240,1) 35%, rgba(166,213,202,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(166,213,202,1) 0%, rgba(223,236,240,1) 35%, rgba(166,213,202,1) 100%);
    background: linear-gradient(135deg, rgba(166,213,202,1) 0%, rgba(223,236,240,1) 35%, rgba(166,213,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d5ca', endColorstr='#a6d5ca', GradientType=1 );
    border: 1px solid #fdcd00;
}

.adminform .mat-card-header{
    background: #000000;
    color: #fff;
    padding: 10px 0 0 0; margin-bottom: 8px;
}




.dbbutton{
    color: #fff!important;
    background: #000!important;
}
.sub_btn_wrapper{
    padding: 0!important;
}
/*CONTRACT CSS*/

.newhome_header {
    background: url(../images/new_home_top.jpg) repeat center top!important;
    background-size: 100%;
    position: relative;
    z-index: 99; box-shadow: none!important; border-radius: 0px;
}

.newhome_header .newhomelogo {
    width: 460px; max-width: 90%;
    display: block;
    margin: 16px auto;
}

.newpage_wrapper {
    /*width: 1170px; max-width: 90%;*/
    width: 100%;
    max-width: 95%;
    margin: 25px auto!important; padding-bottom: 30px; clear: both;
}

.newpage_wrapper h2 {
    font-family: 'RobotoBold';
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 45px; line-height: 44px;
    text-transform: uppercase;
    background: url(../images/new_home_aboutusheader.jpg) left;
    background-size: cover;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newpage_wrapper h3 {
    font-family: 'RobotoBold';
    margin: 0;
    padding: 16px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #e31e6d;
}

.newpage_wrapper h4 {
    font-family: 'RobotoRegular';
    font-size: 16px;
    color: #111;
    line-height: 24px;
    margin: 0px;
    padding: 0px; font-weight: normal;
}

.newpage_wrapper h5 {
    font-family: "RobotoRegular";
    font-size: 16px;
    color: #111;
    line-height: 24px;
    margin: 0px;
    padding: 30px 0; font-weight:normal;
}

.ep_contractbtn {
    background: rgba(250,163,24,1)!important;
    background: -moz-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,163,24,1)), color-stop(50%, rgba(235,165,59,1)), color-stop(51%, rgba(230,148,25,1)), color-stop(100%, rgba(250,163,24,1)))!important;
    background: -webkit-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa318', endColorstr='#faa318', GradientType=0 )!important;
    text-align: center!important;
    height: 45px!important;
    text-transform: uppercase!important;
    font-size: 22px!important;
    font-family: 'RobotoBold'!important;
    color: #000 !important;
    -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2)!important;
    margin: 0px!important;
    border: none!important;
    border-radius: 5px!important;
    padding: 8px 20px!important;
    text-decoration: none !important;
    white-space: normal!important;
    word-wrap: break-word!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important; line-height: 32px!important;
}


.signherebtn {
    background: rgba(76,76,76,1)!important;
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)))!important;
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(19,19,19,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 )!important;
    text-align: center!important;
    height: 45px!important;
    text-transform: uppercase!important;
    font-size: 22px!important;
    font-family: 'RobotoBold'!important;
    color: #fff !important;
    -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2)!important;
    margin: 0px!important;
    border: none!important;
    border-radius: 5px!important;
    padding: 8px 20px!important;
    text-decoration: none !important;
    white-space: normal!important;
    word-wrap: break-word!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important; line-height: 30px!important;
}


.newsignmodal {
    background-color: #fff!important;
    border-radius: 5px !important;
    border: 5px solid #e6bf07 !important; width: 600px; padding: 15px!important;
}

.newsignmodal h1 {
    font-family: 'RobotoBold'!important;
    margin: 0;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(77,77,77,1);
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,77,77,1)), color-stop(100%, rgba(18,12,3,1)));
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -o-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#120c03', GradientType=0 );
    margin-bottom: 15px;
}

.mat-dialog-container {
    padding: 0!important;
    border-radius: 4px!important;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 0px!important;
}

.newsignmodal label {
    display: block;
    font-family: 'RobotoBold'!important;
    font-size: 16px;
    color: #111;
    line-height: 24px;
    margin: 0 ;
    padding: 0;
    text-transform: uppercase;
}

.newsignmodal h2 {
    font-family: 'RobotoBold'!important;
    margin: 0;
    padding: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #e31e6d;
}

.newsignmodal h3 {
    margin: 0 0 15px 0;
    padding: 5px 0 5px 20px;
    color: #000;
    font-size: 54px;
    font-family: 'Notera Personal Use Only';
    border-left: solid 5px rgb(37, 115, 175)!important; font-weight: normal;
}

.newsignmodal h4 {
    font-family: 'RobotoBold'!important;
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #111;
}

.newsignmodal h5 {
    font-family: "RobotoRegular"; font-weight: normal;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    line-height: 24px;
    color: #111;
}

.newsignmodal button{ background: rgba(250,163,24,1)!important;
    background: -moz-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,163,24,1)), color-stop(50%, rgba(235,165,59,1)), color-stop(51%, rgba(230,148,25,1)), color-stop(100%, rgba(250,163,24,1)))!important;
    background: -webkit-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(250,163,24,1) 0%, rgba(235,165,59,1) 50%, rgba(230,148,25,1) 51%, rgba(250,163,24,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa318', endColorstr='#faa318', GradientType=0 )!important;
    text-align: center!important;
    height: 45px!important;
    text-transform: uppercase!important;
    font-size: 22px!important;
    font-family: 'RobotoBold'!important;
    color: #000 !important;
    -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2)!important;
    margin: 15px 15px 0 0!important;
    border: none!important;
    border-radius: 5px!important;
    padding: 8px 20px!important;
    text-decoration: none !important;
    white-space: normal!important;
    word-wrap: break-word!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important; line-height: 32px!important;}


.newsignmodal .mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.newsignmodal .mat-form-field-flex label{ text-transform: inherit!important; font-family: "RobotoRegular";
    font-size: 18px; margin: 0px;}

.newsignmodal  input.mat-input-element {
    margin-top: 0.9375em;
}

.cdk-global-scrollblock{ position: relative!important; left: 0!important; top: 0!important;}

.cdk-overlay-container {
    position: absolute!important;
    z-index: 1000;
    /* height: 100vh; */
}

.cdk-overlay-backdrop{ position: fixed!important;}

.newsignmodal  input{height: 20px;}

.contract_bg_wrapper{
    background: #fff;
    display: block;
}

/*audio deadline agreement css*/

.audiodeadline{
    background: rgba(230,234,244,1)!important;
    background: -moz-linear-gradient(top, rgba(230,234,244,1) 0%, rgba(183,194,200,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,234,244,1)), color-stop(100%, rgba(183,194,200,1)))!important;
    background: -webkit-linear-gradient(top, rgba(230,234,244,1) 0%, rgba(183,194,200,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(230,234,244,1) 0%, rgba(183,194,200,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(230,234,244,1) 0%, rgba(183,194,200,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(230,234,244,1) 0%, rgba(183,194,200,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eaf4', endColorstr='#b7c2c8', GradientType=0 );
    text-align: center;
}



.audiodeadline_wrapper h3 {
    font-family: 'RobotoBold';
    margin: 0;
    padding: 16px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(37, 115, 175);
}

.agreementsubmitbutton{
    background: rgb(37, 115, 175)!important;
    color: #fff!important;
}
.audiodeadlinemodal{
    border: 5px solid rgb(37, 115, 175)!important;
}
.audiodeadlinemodal h2{
    color: rgb(37, 115, 175)!important;
}
.audiodeadlinemodal button{
    background: rgb(37, 115, 175)!important;
    color: #fff!important;
}


.active{
    background: #410146!important;
}
.sidenav-container .mat-nav-list .mat-list-item:hover{
    background: #410146!important;
    color: #fff!important;
}
.cursor{ cursor: pointer; margin: 0 5px;}
.cursor:nth-child(1){ color: #008000;}
.cursor:nth-child(2){ color: #ff0000;}
.cursor:nth-child(3){ color: #410146;}
.cursor:nth-child(4){ color: #3f51b5;}




/*BOTTOM SHEET CSS START */

.mat-bottom-sheet-container-large {
    min-width: 320px!important;
    max-width: calc(100vw - 256px);
}
.mat-bottom-sheet-container .mat-list-item{
    /*background: #000!important;*/
    color: #000!important;
}
.mat-bottom-sheet-container
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    color: #731980!important;
    border-bottom: 1px solid #cac7c7;

}
.mat-bottom-sheet-container {
    border: 3px solid black!important;
    padding: 0!important;
}

/*BOTTOM SHEET CSS END */

.grid_template .mat-card{width: 100%!important;}


.banner_content{
    background: url(../images/adBanner.jpg) no-repeat!important;
    background-position: center center;
    margin: 20px!important;
    background-size: cover!important;
    padding-bottom: 0!important;

}
.image_wrapper img{ width: 100%;}

.banner_content .mat-card-content{
    display: flex!important;

}
.banner_content .mat-card-content .right_part{
    display: flex!important;
}
.content_wrapper{
    width: 63%;
    display: flex;
    margin-top: auto!important;
    flex-direction: column;
}
.right_part{
    display: flex;
    margin-top: auto!important;
    width:auto;

}

.content_wrapper .heading span{ font-size: 16px; margin-left: 2%;}
.content_wrapper .heading{
    font-family: 'OpenSansBold';
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.content_wrapper .para{
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 22px;
    color: #07152b;
}
.middlepart{
    display: flex;
    align-self: flex-end;
}
.middlepart img{ height: 340px;}
.knowmore_content{display: flex; justify-content: center;  margin-top: auto;
    padding-bottom: 30px; }

.knowmore_content button{
    border-radius: 35px;
    width: 180px;
    margin-left: 5px;
    font-family: 'OpenSansBold';
    font-size: 18px!important;
    color: #121515;
}
/**/

/*AFFLIATE BANNER SECTION*/

.affiliateBanner_wrapper .afbanner_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.affiliateBanner_wrapper .afbanner_content .mat-card .mat-card-image:nth-child(1){margin: 0!important;}
.affiliateBanner_wrapper .afbanner_content .mat-card{
    width: 32.7%;
    padding: 0!important;
    margin-bottom: 1%!important;
}
.example-icon{
    padding: 0 16px;
}
.inner_mat img{
    width: 100%;
    margin: 0 auto;
}
.action
{
    display: flex!important;
    flex-wrap: wrap;
    width: 100%!important;
    justify-content: space-around!important;
    margin: 0 auto!important;
    background: #410147!important;
    align-items: center;
    margin-top: -4px!important;
}
.action .mat-icon{
    background: #fff;
    padding: 6px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}
.action .mat-icon:nth-child(1){background: #faa318; color: #fff;}
.action .mat-icon:nth-child(2){background: #385fac; color: #fff;}
.action .mat-icon:nth-child(3){background: #1da1f2; color: #fff;}
.action .mat-icon:nth-child(4){background: #0170ad; color: #fff;}
.mat-icon .fab {
    padding-left: 3px;
}
.button_grab{
    background: rgb(250, 163, 24)!important;
    width: 105px!important;
    line-height: 40px!important;
    text-transform: uppercase;     border: none!important; cursor: pointer;
}


@media only screen and (max-width: 991px) {

    .newsignmodal {
        width: auto !important;
    }

}


/*----------------------amitava--------------------*/

.ad_profileblockbody{ background-color: #db2351!important; margin: 20px!important; background-image: url("../images/admin_blocknew_bg1.png")!important; background-repeat: no-repeat!important; background-position: right bottom!important; border-radius: 0px!important; box-shadow: none!important;}

.ad_profileblockwrapper{ clear: both; overflow: hidden;}

.ad_profileblock_left{ width: 50%; float: left;}

.ad_profileblock_right{ width: 48%; float: right; padding-left: 2%;}

.ad_profileblockbody .mat-card-subtitle:not(:first-child), .ad_profileblockbody .mat-card-title:not(:first-child){ margin-top: 0px!important;}

.ad_profileblock_left_big{ width: auto;   border: solid 10px #fff; margin: 0!important; padding: 0px!important; background-color: #fff;}

.ad_profileblock_left_big img{ width: 100%; box-shadow: 0 0 2px #888; margin: 0!important; padding: 0px!important;}

.ad_profileblock_left_small{background-color: #fff;  border-top: solid 14px #db2351; text-align: center; padding: 5px; }

.ad_profileblock_left_small ul{ margin: 0!important; padding: 0!important; clear: both; overflow: hidden;}
.ad_profileblock_left_small ul li{ padding: 0!important; list-style: none;  width: 108px; height: 80px;  display: inline-block;
    border: solid 8px #db2351;
    margin: 5px 5px 4px 5px!important; overflow: hidden; position: relative; }

.ad_profileblock_left_small ul li span{ display: table-cell; text-align: center; vertical-align: middle; width: 108px; height: 80px;  overflow: hidden; background:  #db2351; cursor: pointer; padding-top: 1px;}

.ad_profileblock_left_small img { width: 120%;
    margin: 0!important;
    padding: 0!important;
    cursor: pointer;

    height: auto; min-height: 100%;}

.ad_profileblock_right h2{     margin: 0;
    padding: 0;
    font-size: 40px; display: block;
    color: #fff;
    font-family: 'OpenSansBold';
    line-height: 48px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px; display: block;  background-image: url("../images/admin_blocknew_textbg.png")!important; background-repeat:repeat-x!important; background-position: left bottom!important; }

.ad_profileblock_modeldetail label {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #4c0416;
    font-family: 'OpenSansBold';
    line-height: 48px;
    text-align: left;
    text-transform: uppercase; width: 150px; display: inline-block;
}

.ad_profileblock_modeldetail span {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #ffcec4;
    font-family: 'OpenSans';
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    height: inherit;
}

.ad_profileblock_right .mat-button {border-radius: 35px;
    width: 200px; padding: 10px 0;

    font-family: 'OpenSans';
    font-size: 22px!important;
    background-color: #faa318;
    color: #fff; display: block; margin: 0; }


.btnmodellist .mat-button{
    border-radius: 35px;
    width: auto; padding: 7px 30px;

    font-family: 'OpenSans';
    font-size: 22px!important;
    background-color: #faa318;
    color: #fff; display: inline-block; margin-right:10px; margin-bottom: 10px;
}

.btnmodellist .mat-button:last-child{margin-right: 0px !important; margin-bottom: 0px;}


.ad_profileblock_right h3{     margin: 0; clear: both;; overflow: hidden;
    padding: 10px 0 40px 0;
    display: block;
    color: #fff;
    width: 100%;
    text-align: left; font-weight: normal;

    margin-bottom: 40px; display: block;  background-image: url("../images/admin_blocknew_textbg.png")!important; background-repeat:repeat-x!important; background-position: left bottom!important; }

.ad_profileblock_right h3 img{ display: inline-block; float: left; width: 32px; margin-right: 10px;     margin-top: 4px;}
.ad_profileblock_right h3 a{  font-family: 'OpenSans'; color: #fff; display: inline-block; float: left; font-size: 25px; text-decoration: none; }


.mat-card-imagecontain{ height: 374px; width: 100%; display: table-cell!important; text-align: center; vertical-align: middle; overflow: hidden; background: #ccc;}

.inner_mat{ border-radius: 0px!important;}






.ad_audiodeadlinecontent_block1body{background-image: url("../images/adBanner.jpg")!important; background-repeat:no-repeat!important; background-position: left bottom!important; background-size: cover!important;  border-radius: 0px!important; margin: 20px!important; padding: 25px 25px 0 25px!important; box-shadow: none!important; display: table; vertical-align: bottom!important;}



.ad_audiodeadlinecontent_block1body_wrapper{border-radius: 0px!important; margin: 0px!important; padding: 0px!important; box-shadow: none!important; display: table-row!important; background: none!important; }

.ad_audiodeadlinecontent_block1body_1st{width: 63%;  display: table-cell!important;  vertical-align: bottom!important; padding-bottom: 25px!important; }
.ad_audiodeadlinecontent_block1body_2nd{display: table-cell!important;   vertical-align: bottom!important; text-align: center;}
.ad_audiodeadlinecontent_block1body_3rd{display: table-cell!important; vertical-align: bottom!important; padding-bottom: 25px!important;}

.ad_audiodeadlinecontent_block1body_1st .adlogo{ width: 200px; margin-top: 20px;}
.ad_audiodeadlinecontent_block1body_1st h2{    font-family: 'OpenSansBold';
    font-size: 48px;
    color: #fff;
    text-transform: uppercase; margin: 14px 0; padding: 0; line-height: 40px;}

.ad_audiodeadlinecontent_block1body_1st h2 sup{ font-size: 20px; font-weight: normal;  font-family: 'OpenSans'; display: inline-block;}

.ad_audiodeadlinecontent_block1body_1st p{font-family: 'OpenSans';
    font-size: 16px;
    line-height: 22px;
    color: #07152b; margin: 0; padding: 0;}

.ad_audiodeadlinecontent_block1body_2nd img{ margin-bottom: -4px!important;}


.ad_audiodeadlinecontent_block1body_3rd .mat-button{border-radius: 35px;
    width: 180px;
    margin-left: 5px;
    font-family: 'OpenSansBold';
    font-size: 18px!important;
    color: #121515; background: #fff!important; line-height: 55px;}

.ad_audiodeadlinecontent_block1body_3rd img{ margin-bottom: -24px;}



.ad_audiodeadlinecontent_block2body{background-image: url("../images/adBanner2.jpg")!important; background-repeat:no-repeat!important; background-position: right top!important; background-size: cover!important;  border-radius: 0px!important; margin: 20px!important; padding: 25px!important; box-shadow: none!important; display: table; vertical-align: bottom!important; height: 290px!important;}

.ad_audiodeadlinecontent_block2body_wrapper{border-radius: 0px!important; margin: 0px!important; padding: 0px!important; box-shadow: none!important; display: table-row!important; background: none!important; }

.ad_audiodeadlinecontent_block2body_1st{ width: 300px; height: 290px; display: table-cell!important; text-align: center; vertical-align: middle;}
.ad_audiodeadlinecontent_block2body_2nd {
    width: 64.5%;
    height: 290px;
    display: table-cell!important;
    text-align: left;
    vertical-align: middle;
    padding-right: 23%;
    padding-left: 1%;
}


.ad_audiodeadlinecontent_block2body_3rd{display: table-cell!important; vertical-align: bottom!important;  }


.ad_audiodeadlinecontent_block2body_1st span{ display: block; background-image: url("../images/newjoqulogobg.png")!important; background-repeat:no-repeat!important; background-position: left top!important; width: 255px; height: 159px; margin-left: auto; margin-right: auto; }

.ad_audiodeadlinecontent_block2body_1st span img{ margin: 18px auto;}


.ad_audiodeadlinecontent_block2body_2nd h2{ margin: 0px; padding: 0px; font-size: 36px; color: #fc0100; font-style: italic;  font-family: 'RobotoBold';     line-height: 36px;}

.ad_audiodeadlinecontent_block2body_2nd p{ margin: 14px 0 0 0px; padding: 0px; border-left: solid 4px #fe0600; font-size: 14px; color: #ffffff; font-family: 'RobotoRegular';}

.ad_audiodeadlinecontent_block2body_2nd p span{ padding-left: 10px; display: block; font-style: italic;}


.ad_audiodeadlinecontent_block2body_3rd .mat-button{border-radius: 35px;
    width: 180px;
    margin-left: 5px;
    font-family: 'OpenSansBold';
    font-size: 18px!important;
    color: #fff; background: #0eb7ee!important; line-height: 55px;}

.ad_audiodeadlinecontent_block2body_3rd img{ margin-bottom: -24px;}



/*--------------*/
@media only screen and (max-width: 1820px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 63.5%;
    }
}

@media only screen and (max-width: 1800px) {

    .ad_audiodeadlinecontent_block1body_1st{width: 60%;}

    .ad_audiodeadlinecontent_block2body_2nd {width: 62.5%; padding-right: 20%;  }
}


@media only screen and (max-width: 1740px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 61.5%;
        padding-right: 10%;
    }

}

@media only screen and (max-width: 1700px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 59%;
    }

}

@media only screen and (max-width: 1680px) {
    .mat-card-imagecontain{ height: 300px; }

    .ad_audiodeadlinecontent_block1body_1st{width: 55%;}

}


@media only screen and (max-width: 1620px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 56%;
    }

}

@media only screen and (max-width: 1530px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 54%;
    }

}

@media only screen and (max-width: 1520px) {

    .ad_audiodeadlinecontent_block1body_1st{width: 50%;}
}

@media only screen and (max-width: 1480px) {
    .ad_audiodeadlinecontent_block2body_2nd {
        width: 52%;
    }

}

@media only screen and (max-width: 1440px) {
    .mat-card-imagecontain{ height: 280px; }

    .ad_audiodeadlinecontent_block2body_1st {
        width: 280px;}
}

@media only screen and (max-width: 1400px) {

    .ad_audiodeadlinecontent_block1body_3rd img {
        display: block;
        margin: 0 0 5px 10px;
    }

    .ad_audiodeadlinecontent_block2body_3rd img {
        display: block;
        margin: 0 0 5px 10px;
    }

    .ad_audiodeadlinecontent_block2body_2nd {
        width: 60%;
        padding-right: 20%;
    }

}


@media only screen and (max-width: 1300px) {
    .ad_audiodeadlinecontent_block2body{height:350px!important;}



    .ad_audiodeadlinecontent_block2body_1st{height:350px!important;}
}

@media only screen and (max-width: 1199px) {




    .ad_profileblock_left{ width: 100%; float: none;}

    .ad_profileblock_right{ width: 100%; float: none; padding-left:0%; padding-top: 40px; padding-bottom: 25px;}


    .mat-card-imagecontain{ height: 260px; }






    .ad_audiodeadlinecontent_block1body{ padding: 25px 25px 25px 25px!important; display: block!important;}



    .ad_audiodeadlinecontent_block1body_wrapper{display: block!important; }

    .ad_audiodeadlinecontent_block1body_1st{width: 100%; display: block!important; padding: 0px!important; text-align: center;}
    .ad_audiodeadlinecontent_block1body_2nd{display: block!important;   vertical-align: inherit!important; text-align: center; border-bottom: solid 1px #5bdaf2; margin-bottom: 25px!important; padding-top: 10px!important;}
    .ad_audiodeadlinecontent_block1body_3rd{display: block!important;  vertical-align: inherit!important; padding-bottom: 0px!important; text-align: center;     width: 240px;
        margin: 0 auto; clear: both; overflow: hidden;}

    .ad_audiodeadlinecontent_block1body_3rd img {
        display: inline-block;
        margin: 5px 0; float: left;
    }

    .ad_audiodeadlinecontent_block1body_1st .adlogo {
        width: auto;
        margin-top: 0px; max-width: 100%;
    }

    .ad_audiodeadlinecontent_block1body_3rd .mat-button{  width: 170px; float: right;}

    .ad_audiodeadlinecontent_block1body_2nd img{ max-width: 100%;}



    .ad_audiodeadlinecontent_block2body{height:auto!important; display: block; background-image: none!important; background-color: #000000!important;}

    .ad_audiodeadlinecontent_block2body_wrapper{display: block!important; }



    .ad_audiodeadlinecontent_block2body_1st{width: 100%; display: block!important; padding: 0px!important; text-align: center; height:auto!important;}
    .ad_audiodeadlinecontent_block2body_2nd{display: block!important;   vertical-align: inherit!important; text-align: center;  width: 100%; padding: 15px 0 20px 0; height: auto;}
    .ad_audiodeadlinecontent_block2body_3rd{display: block!important;  vertical-align: inherit!important; padding-bottom: 0px!important; text-align: center;     width: 240px;
        margin: 0 auto; clear: both; overflow: hidden;}

    .ad_audiodeadlinecontent_block2body_3rd img {
        display: inline-block;
        margin: 5px 0; float: left;
    }

    .ad_audiodeadlinecontent_block2body_3rd .mat-button{  width: 170px; float: right;}

    .ad_audiodeadlinecontent_block2body_2nd p{ border: none;}

    .ad_audiodeadlinecontent_block2body_2nd p span{ padding: 0px;}
}

@media only screen and (max-width: 500px) {
    .ad_audiodeadlinecontent_block1body_1st h2 {
        font-size: 26px; line-height: 30px;
    }
    .ad_audiodeadlinecontent_block1body_1st h2 sup {
        font-size: 14px;
        line-height: 20px;
        padding-top: 5px;
    }

    .ad_audiodeadlinecontent_block2body_1st span{ width: 210px; background-size: 100%;}

}


@media only screen and (max-width: 350px) {

    .ad_profileblock_left_small ul li{ width: 93px; height: 93px;}

    .ad_profileblock_left_small ul li span{  width: 93px; height: 93px;}

    .ad_audiodeadlinecontent_block1body_3rd{ width: 220px;}
    .ad_audiodeadlinecontent_block1body_3rd .mat-button {
        width: 154px;}

    .ad_audiodeadlinecontent_block2body_3rd{ width: 220px;}
    .ad_audiodeadlinecontent_block2body_3rd .mat-button {
        width: 154px;}
}



.mat-card-content mat-label{ padding-right: 10px!important;}
.mat-card-content mat-checkbox{ padding-right: 10px!important;}

.adminform .uploadfile  { background: rgba(247,231,0,1);
    background: -moz-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,231,0,1)), color-stop(100%, rgba(219,205,15,1)));
    background: -webkit-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -o-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    background: linear-gradient(to bottom, rgba(247,231,0,1) 0%, rgba(219,205,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e700', endColorstr='#dbcd0f', GradientType=0 );
    color: #000000!important;
    border: 0!important;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    border-radius: 5px;
    font-size: 22px!important;
    padding:8px 15px; display: block!important; margin-bottom: 20px;}


.adminform .updateit {  background: rgba(77,77,77,1);
    background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,77,77,1)), color-stop(100%, rgba(18,12,3,1)));
    background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -o-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    background: linear-gradient(to bottom, rgba(77,77,77,1) 0%, rgba(18,12,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#120c03', GradientType=0 );
    color: #fff!important;
    border: 0!important;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    border-radius: 5px;
    font-size: 22px!important;
    padding:8px 15px; display: block!important; margin-bottom: 20px;}

.uploadsection_wrapper{ width: 100%; margin-top: 15px;
    margin-bottom: 15px;}

.uploadsection_wrapper .uploadthum{ display: inline-block;}

.uploadsection_wrapper .uploadthumimgbox{   width: 210px; height: 210px;   background: rgba(0, 0, 0, 0.5);  border: 1px solid #201e2c;  position: relative; overflow: hidden; margin:2px;  display: block;
    float: left;}

.uploadsection_wrapper img{ width: 100%; display: block;}

.uploadsection_wrapper .closepic {
    position: absolute;
    right: 2px;
    top: 2px;
    background:#fff url(../images/imagedelete.png) center center;
    background-size: 100%;
    width: 26px;
    height: 26px;
    border: none!important;
    font-size: 0px!important;
    cursor: pointer; border-radius: 100px;
}

.uploadthumimgbox_span{ width: 210px; height: 210px;  display: table-cell; text-align: center; vertical-align: middle;}


.setpic {
    position: absolute!important;
    left: 2px!important;
    top: 2px!important;
    background: #fff url(../images/editprofile.png) center top no-repeat;
    background-size: 100%!important;
    width: 27px;
    height: 27px;
    border: none!important;
    font-size: 0px!important;
    cursor: pointer!important;
    border-radius: 100px!important;
    padding: 0px!important;
    min-width: inherit!important;
}

.uploadsection_wrapper .uploadthumimgbox .setpic{ display: none;}
.uploadsection_wrapper .uploadthumimgbox:hover .setpic{ display: block;}


.setpic3 {
    position: absolute!important;
    left: 40px!important;
    top: 2px!important;
    background: #eca817 url(../images/editprofile.png) center top no-repeat!important; /*change*/
    background-size: 100%!important;
    width: 27px;
    height: 27px;
    border: none!important;
    font-size: 0px!important;
    cursor: pointer!important;
    border-radius: 100px!important;
    padding: 0px!important;
    min-width: inherit!important;
}

.uploadsection_wrapper .uploadthumimgbox .setpic3{ display: none;}
.uploadsection_wrapper .uploadthumimgbox:hover .setpic3{ display: block;}

.mat-button-wrapper{ background: none!important; height: 27px!important;}

.setpic2 {
    position: absolute!important;
    left: 2px!important;
    top: 2px!important;
    background: #fff url(../images/editprofile.png) center top no-repeat;
    background-size:100%!important;
    width: 27px;
    height: 27px;
    border: none!important;
    font-size: 0px!important;
    cursor: pointer!important;
    border-radius: 100px!important;
    padding: 0px!important;
    min-width: inherit!important;
}

.ad_profileblock_left_small ul li .setpic2{ display: none;}
.ad_profileblock_left_small ul li:hover .setpic2{ display: block;}


.mat-input-element{ font-size: 17px!important;}
.mat-form-field-infix{ font-size: 17px!important;}
/*-----------------amitava end--------------------------------*/
/*ORDERD DETAILS CSS*/
.order_wrapper_header {
    margin-top: 0px;
    padding: 0!important;
    height: auto!important;
}
.order_wrapper_header mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgb(160, 160, 160)!important;
}
.order_wrapper_header .mat-toolbar { color: #fff;
    background: #faa318!important;
    justify-content: center;
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    padding: 20px 0 !important;
}
.order-bg {
    display: block!important;
    background:rgba(0, 0, 0, .4 )!important;
    padding-bottom: 50px;
}
.order-bg .view_order{ width: 90%; margin: 50px auto; margin-bottom: 0;  background: none; padding: 0; box-shadow: none!important;}
.order-bg .view_order .mat-card-header {
    display: flex;
    flex-direction: row;
    background: #151212;
    padding: 15px 0;
    justify-content: center;
}
.order-bg .view_order .mat-card-header .mat-card-title{font-size: 30px;
    font-family: 'RobotoMedium';
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
}
.order-bg .view_order table{
    background: rgb(160, 160, 160);
    border: none!important;
}
.order-bg .view_order table thead
tr.mat-header-row {
    height: 56px;
    background: #a0a0a0;
}
.order-bg .view_order table thead
th.mat-header-cell {
    font-size: 20px!important;
    color: #000!important;
    font-family: 'RobotoMedium';
}

.orderdetails  table .mat-cell, .mat-footer-cell {
    color: rgba(0, 0, 0, 0.87) !important;

}
.view_order table .mat-cell  {
    color: rgba(37, 37, 37, 0.87)!important;
}
.order-bg .view_order table tbody
.mat-row:nth-of-type(even) {
    background: #a0a0a0;
}
.orderdetails .mat-card-header{ justify-content: flex-start!important; justify-content: space-between; }
.orderdetails table thead
tr.mat-header-row {
    background: #888787!important;
}
.orderdetails table{background: #868686!important; }
.order-bg .orderdetails table tbody
.mat-row:nth-of-type(even) {
    background: #969696;
}
.view_order .mat-cell, .mat-footer-cell{font-size: 16px;}
.billing_wrapper .mat-card-title{ color: #faa318!important; }
.billing_details{ display: flex!important; width: 100%!important; justify-content: space-between;   }
.billing_details .mat-card-content{ width: 32%; background: #656565; margin: 30px 0!important;  }
.billing_details .mat-card-content h2{background: rgba(16, 16, 16, 0.5);
    padding: 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'RobotoMedium';
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
}
.billing_details .mat-list-item{ border-bottom: 1px solid #585858;}
.billing_details .mat-list-item span{
    width: 38%;}
.billing_details .mat-card-content:first-child {margin:30px 0; }
.billing_details .mat-card-content:last-child {margin-bottom:30px!important; }

.billing_details  .mat-list-item-content{background: inherit!important; border: none!important; color: #fff!important; text-align: left!important; font-size: 18px!important;}
/*End Order Css*/

.sub_item_space{ margin-right: 20%;}
.order_view1{
    display: flex!important;
    justify-content: space-between;
    width: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 50px 15px;
    padding-top: 40px;
}
.order_view1 .mat-card-content{ width: 100%!important;}
.order_view1 .mat-card-content .mat-card-title{  font-family: 'Roboto'; font-size: 18px;}
.order_view1 .mat-card-content .mat-card-subtitle{ margin-top: 10px; font-family: 'Roboto'; font-size: 16px; color: #fff; }



/*
.thumb_gallery_uploadselect {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 5px;
    background: #6a4b80;
    top: 5px;
    border-radius: 50%;
    font-size: 18px;
    overflow: hidden;
    padding: 1px;
    border: 2px solid #4e504f;
    cursor: pointer;
}*/




.uploadsection_wrapper .uploadthumimgbox .setpic_active{ display: block!important;}


.setpic_active2{ border: solid 2px #db2351!important;}

p,h1,h2,h3,h4,h5,h6{ margin: 0;}
.bg-white {
    background: #fff;
    height: 100%;
}
.artistxp_logo_w{
    background: #000!important;
    text-align: center;
    padding: 0!important;
}
.artistxp_logo_w img{ margin: 10px;}
.audiodeadline .newhomelogo{ margin: 15px 0 0 0}
.artistxp_contract { width: 90%; margin: 20px auto;}

.artistxp_contract  .agreement_header{ background: #ff1493; padding: 10px 0; color: #fff; font-size: 30px; font-family: 'RobotoBold'; text-align: center; margin-bottom: 20px; }
.artistxp_contract h1{
    position: relative;
    font-size: 20px;
    font-family: 'RobotoMedium';
    margin: 15px 0;
    color: #292929;
}
.artistxp_contract p{ font-family: 'RobotoRegular'; font-size: 16px;}
.artistxp_contract .loweralphabracket{ font-family: 'RobotoRegular'; font-size: 17px;}
.artistxp_contract .loweralphabracket li{ margin-bottom: 10px;}

.artistxp_contract h1::before{
    content: '\2713';
    width: 25px;
    height: 25px;
    background: #f31190;
    color: #fff;
    position: absolute;
    left: -33px;
    border-radius: 50%;
    text-align: center;
}
.artistxp_contract h5{
    font-size: 20px;
    font-family: 'RobotoMedium';
    margin: 15px 0;
    color: #292929;}
.artistxp_confirm_modal{
    border: 5px solid #f31190!important;
}


.left_nav_menu .mat-list-item-content .mat-expansion-panel{ width: 100%; border-radius: 0; background: #000; }
.left_nav_menu .mat-list-item-content .mat-expansion-panel .mat-expansion-panel-header{ padding: 0!important; font-size: 16px;!important;}
.left_nav_menu .mat-list-item-content .mat-expansion-panel .mat-expansion-panel-header-title{
    color: #fff!important;}

.mat-expansion-panel-body{ padding: 0!important;}
.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: #fff!important;
}
.mat-expansion-panel .mat-divider{ border-bottom: 1px solid #fff!important; }
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    color: #fff;
}

.mat-expansion-panel .mat-nav-list .mat-list-item { border-bottom: 1px solid #fff!important;}
