


<span class="bg_white">
    <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> </mat-card-title>
    <mat-card-title> Dynamic Forms</mat-card-title>
  </mat-card-header>

  <mat-card-content>
   <dynamic-form-builder [fields]="getFields()"></dynamic-form-builder>



  </mat-card-content>


        <mat-card-content>
            <span class="text-box_wrapper" [formGroup]="form">
                <label>JSON</label>

                    <textarea  formControlName="fields" class="form-control" rows="5"></textarea>

            </span>
        </mat-card-content>
</mat-card>

</span>



<!--
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">Dynamic Forms</div>
        <div class="card-body">
            <dynamic-form-builder [fields]="getFields()"></dynamic-form-builder>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group" [formGroup]="form">
        <label>JSON</label>
        <textarea formControlName="fields" class="form-control" rows="3"></textarea>
    </div>
</div>-->
