<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <span class="s_shatter_logo_wrapper">
         <!-- <img src="../../assets/images/shaterblockLogo.png" alt="#" >-->
        <!--          <img src="../../assets/images/adminshaterblockLogo.png" alt="#" >-->
        <img src="http://shatterblok.com/assets/images/shaterblockLogo.png">
      </span>
    </mat-toolbar>
    <mat-nav-list class="left_nav_menu">
      <a mat-list-item role="listitem" class="active" target="_blank" href="{{apiService.loginurl}}"><i class="material-icons">
        home
      </i>home</a>
      <!--  <a mat-list-item role="listitem" class="active" [routerLink]="['/modeldashboard']" *ngIf="cookieService.get('type')=='model'">HOME</a>-->

      <a mat-list-item role="listitem" [routerLink]="['/admindashboard']" *ngIf="cookieService.get('type')=='admin'">dashboard</a>
      <a mat-list-item role="listitem" [routerLink]="['/modeldashboard']" *ngIf="cookieService.get('type')=='model'">
        <i class="material-icons"> dashboard </i>dashboard</a>

      <a mat-list-item role="listitem"   *ngIf="cookieService.get('type')=='admin'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons"> list_alt </i> user agreement
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item role="listitem" [routerLink]="['/recentSignUp']">recent sign-ups</a>
          <a mat-list-item role="listitem" [routerLink]="['/activeUsers']">Active users</a>
        </mat-expansion-panel>

      </a>

      <!--<a mat-list-item role="listitem" [routerLink]="['/managedashboard']" *ngIf="cookieService.get('type')=='admin'">Manage Dashboard</a>-->

      <a mat-list-item role="listitem" [routerLink]="['/joquprocesslist']" *ngIf="cookieService.get('type')=='admin'">Joqu Application</a>

      <a mat-list-item role="listitem" [routerLink]="['/orderdetails']" *ngIf="cookieService.get('type')=='admin'">Order List</a>

      <a mat-list-item role="listitem" [routerLink]="['/orderdetails']" *ngIf="cookieService.get('type')=='admin'">Commision Report</a>

      <a mat-list-item role="listitem"  *ngIf="cookieService.get('type')=='admin'" [routerLink]="['/adminlist']" ><i class="material-icons">
        people_outline
      </i> admin list</a>
      <a mat-list-item role="listitem" *ngIf="cookieService.get('type')=='model'" [routerLink]="['/affilitemarketing']"> <i class="material-icons">
        perm_media
      </i> Media Marketing</a>

      <a mat-list-item role="listitem" *ngIf="cookieService.get('type')=='model'" (click)="editpage()"><i class="material-icons">
        account_circle
      </i>my account</a>
      <a mat-list-item role="listitem" *ngIf="cookieService.get('type')=='brand'" (click)="editpage()"> <i class="material-icons">
        account_circle
      </i> my account</a>
      <a mat-list-item role="listitem" *ngIf="cookieService.get('type')=='admin'" (click)="editpage()"><i class="material-icons">
        account_circle
      </i> my account</a>
      <a mat-list-item role="listitem" (click)="logout()"> <i class="material-icons">
        power_settings_new
      </i> log out</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Shatterblok</span>
      <span class="example-spacer"></span>
      <mat-icon matBadge="1" matBadgeColor="warn">notifications</mat-icon>
      <button mat-button color="primary" class="profile_wrapper_main">
      <span class="profile_wrap" (click)="profileimg()">
        <img *ngIf="profile_img == null" src="http://www.titikshapublicschool.com/wp-content/uploads/2018/11/developer-api.jpg">
        <img *ngIf="profile_img != null" src="{{profile_img}}">
      </span>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <!--        <button mat-menu-item (click)="logout()">Log out</button>-->
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
