<app-main-nav>

  <mat-card>
    <mat-card-content class="affiliateBanner_wrapper">
      <mat-toolbar>
        <h3> Affiliate Marketing </h3>
      </mat-toolbar>
      <br>
      <span class="afbanner_content">

        <!--LOOP START-->

        <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>
            </mat-card-content>
        </mat-card>

        <!--LOOP END -->




        <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>


            </mat-card-content>
        </mat-card>
        <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>


            </mat-card-content>
        </mat-card>
         <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>


            </mat-card-content>
        </mat-card>
         <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>


            </mat-card-content>
        </mat-card>
         <mat-card class="inner_mat">
          <img mat-card-image src=" https://helpx.adobe.com/in/stock/how-to/visual-reverse-image-search/_jcr_content/main-pars/image.img.jpg/visual-reverse-image-search-v2_1000x560.jpg">
          <mat-card-content>
            <mat-toolbar  class="action">
              <mat-toolbar-row >
               <mat-icon class="example-icon"> <i class="material-icons">share </i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-facebook-f"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-twitter"></i></mat-icon>
              <mat-icon class="example-icon"> <i class="fab fa-linkedin-in"></i></mat-icon>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" class="button_grab">GRAB URL</button>
              </mat-toolbar-row>
            </mat-toolbar>


            </mat-card-content>
        </mat-card>


      </span>




    </mat-card-content>
  </mat-card>




</app-main-nav>